<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <renderField>
        <processor type="Sitecore.Support.Pipelines.RenderField.SetAnchorsPositionInLinks, Sitecore.Support.304977" patch:instead="*[@type='Sitecore.Pipelines.RenderField.SetAnchorsPositionInLinks, Sitecore.Kernel']" />
      </renderField>
    </pipelines>
  </sitecore>
</configuration>